@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Nunito ;
}
:root{
  --primary-color:#D7B19D;
  --secondary-color:#402218;
}
body{
    
    text-align: center;
    background: var(--primary-color);
    color: var(--secondary-color);
}
input:focus{
  outline: #402218;
}
.container{
    max-width: 500px;
    margin: auto;
}

/* to remove side things on input with type of number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* ========== */
h1{
  margin: 20px 10px;
}
.err{
  margin: 20px 5px;
  padding: 12px;
  color: #f11717;
  background: #eec7c2;
  border-radius: 10px;
  font-weight: 600;
}

.input-data .container{
  padding: 20px;
}
.input-data .container input{
  width: 80%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

#btn{
  padding:6px 50px;
  border: 2px solid #865439;
  border-radius: 10px;
  display:inline-block;
  margin: auto;
  margin-top: 20px;
  font-weight: 700;
}

.output-data .container{
  padding: 20px;
}
.output-data .container input{
  width: 80%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  margin-bottom: 15px;
}
.output-data .container p{
  margin-top: 5px;
  font-weight: 800;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-weight: 800;
}
